

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#map-container { height: 250px; }

.error {
    color: red;
}

.header-photo img {
    width: 100%;
}















